# Buffer size in bytes. Only used by the sender
buffer_size=524288000

# Batching
num_concurrent_chunks=1
enable_batched_sends = "true"

# Maximum Transmission Unit (packet size in bytes)
mtu=1024

# Number of packets per chunk
chunk_size=16

# RX Depth - Completion Queue depth
rx_depth=8192

# Transport Type (UC / RC)
transport_type = "uc"

# Logging
enable_logging = "false"
logging_level = "debug"