# Maximum Transmission Unit (packet size in bytes)
mtu=4096

# Number of packets per chunk
chunk_size=64

# RX Depth - Completion Queue depth
rx_depth=32768

# Buffer size in bytes
buffer_size=104857600

# CPU core ID for thread pinning (-1 means no pinning)
cpu_core_id=2

# Receiver timeout in seconds
receiver_timeout_seconds=60

# Transport Type (UC / RC)
transport_type = "rc"

# Logging
enable_logging = "false"
logging_level = "error"

# Max in Flight Requests. This is not used if post_per_completion is true, but is used as the initial value to populate the recv queue
max_in_flight_requests=2048

# Post per completion
post_per_completion="true"