# Maximum Transmission Unit (packet size in bytes)
mtu=1024

# Number of packets per chunk
chunk_size=16

# RX Depth - Completion Queue depth
rx_depth=8192

# CPU core ID for thread pinning (-1 means no pinning)
cpu_core_id=2

# Receiver timeout in seconds
receiver_timeout_seconds=60

# Transport Type (UC / RC)
transport_type = "uc"

# Logging
enable_logging = "false"
logging_level = "debug"

# Max in Flight Requests. This is not used if post_per_completion is true, but is used as the initial value to populate the recv queue
max_in_flight_requests=2048

# Post per completion
post_per_completion="true"

# Polling
cq_batch_size=128

enable_batched_recvs = "false"